header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-image: url("../images/contact-bg.png");
    background-color: #FFF6D8;
}


/******** NAVIGATION BAR ********/

.top_row_logo a {
    float: left;
    background-color: #FFF6D8;
    padding: 13px 16px 10px 18px;
}

.top_row_logo img {
    width: 90px;
    height: 72px;
}

#top_row nav {
    overflow: hidden;
    background-color: #FFF6D8;
}

#top_row nav a {
	float: left;
    color: #251A03;
    text-align: center;
    padding: 41px 25px 41px 25px;
    text-decoration: none;
    font-size: 14px;
    background-color: #FFF6D8;
    margin: 0px;
}

#top_row nav a.selected {
	font-weight: bold;	
}

#top_row nav a.selected:hover {
	font-weight: bold;
}

#top_row nav a:hover {	
	font-weight: bold;
}

#login_btn {
    float: right;
    margin: 32px 10px 0px 20px;
    padding: 8px 25px 8px 25px;
    background-color: #FFFFFF;
    border: 1px solid #EF5DA8;
    border-radius: 7px;
    color:#EF5DA8;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#login_btn:hover {
    background-color: #ebe9ea;
    border: 1px solid #d5629e;
}

#register_btn {
    float: right;
    margin: 32px 25px 20px 10px;
    padding: 8px 19px 8px 19px;
    background-color: #EF5DA8;
    border: 1px solid #EF5DA8;
    border-radius: 7px;
    color:#FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#register_btn:hover {
    background-color: #ce5192;
    border: 1px solid #ce5192;
}



/*********** CONTACT SPECIFIC ************/

h2.contact-heading { /* Subscribe to our Food <3 */
    text-align: center;
    margin: 120px 90px 30px 90px;
    font-size: 38px;
    color: #FFF;
}

p.contact-subheading { /* Be the first to get... */
    margin: 0px;
    padding: 0px 0px 50px 0px;
    color: #FFF;
    font-size: 18px
}

p.subtitle { /* Sign up for a free account */
    margin: 0px auto 0px 83px;
    padding: 40px 0px 45px 0px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

form {
    display: inline-block;
    margin: 0px auto 90px auto;
    box-sizing: border-box;
    padding: 30px 30px 20px 20px;
    background-color: transparent;
    border: 3px solid #FFF;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    width: 46%;
    color: #FFF;
}

input[type="text"], input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  width: 72%;
  margin: 0px auto 0px auto;
  padding: 0.5rem 0.75rem;
  background-color:#FFF;
  font-size: 14px;
}

#name, #zipcode, #email {
    font-family: 'Open Sans', sans-serif;
}

/* change the background of the checkbox */
.checkbox-style {
    font-size: 14px;
    margin: 0px 0px 0px 138px;
    /* background: url('images/check.svg') no-repeat center / 75% auto; */
}

/* 
input[type="checkbox"]:checked {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    margin: 0px 50px 0px auto;
    background: url('images/check.svg') no-repeat center / 75% auto; 
} */

#submit_btn {
    margin: 20px auto 18px auto;
    padding: 8px 25px 8px 25px;
    background-color: #EF5DA8;
    border: 1px solid #EF5DA8;
    border-radius: 7px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color:#FFF;
    font-size: 14px;
}

#submit_btn:hover {
    background-color: #ce5192;
    border: 1px solid #ce5192;
}



/*********** FOOTER ************/

footer {
    clear: both; /* The clear property specifies which side(s) of an element other floating elements are not allowed. */
    text-align: center;
    font-size: 14px;
    color: #FFF;
    background-color:#251A03 ;
    border-top: 1px dotted #cccccc;
    padding: 20px;
    padding-bottom: 2%;
    font-variant: small-caps;
}

