header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-image: url("../images/menu-bg.png");
    background-color: #FFF6D8;
}

/******** NAVIGATION BAR ********/

.top_row_logo a {
    float: left;
    background-color: #FFF6D8;
    padding: 13px 16px 10px 18px;
}

.top_row_logo img {
    width: 90px;
    height: 72px;
}

#top_row nav {
    overflow: hidden;
    background-color: #FFF6D8;
}

#top_row nav a {
	float: left;
    color: #251A03;
    text-align: center;
    padding: 41px 25px 41px 25px;
    text-decoration: none;
    font-size: 14px;
    background-color: #FFF6D8;
    margin: 0px;
}

#top_row nav a.selected {
	font-weight: bold;	
}

#top_row nav a.selected:hover {
	font-weight: bold;
}

#top_row nav a:hover {	
	font-weight: bold;
}

#login_btn {
    float: right;
    margin: 32px 10px 0px 20px;
    padding: 8px 25px 8px 25px;
    background-color: #FFFFFF;
    border: 1px solid #EF5DA8;
    border-radius: 7px;
    color:#EF5DA8;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#login_btn:hover {
    background-color: #ebe9ea;
    border: 1px solid #d5629e;
}

#register_btn {
    float: right;
    margin: 32px 25px 20px 10px;
    padding: 8px 19px 8px 19px;
    background-color: #EF5DA8;
    border: 1px solid #EF5DA8;
    border-radius: 7px;
    color:#FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#register_btn:hover {
    background-color: #ce5192;
    border: 1px solid #ce5192;
}



/******** MENU SPECIFIC ********/

h2.menu-heading {  
    text-align: center;
    margin: 120px 90px 45px 90px;
    font-size: 40px;
    color: #FFF;
}

#menu_btn_1, #menu_btn_2, #menu_btn_3 {
    margin: 0px auto 30px auto;
    padding: 18px;
    width: 30%;
    background-color: #FFF;
    border: 1px solid #EF5DA8;
    border-radius: 15px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color:#EF5DA8;
    font-size: 18px;
    text-align: center;
}

#menu_btn_1:hover, #menu_btn_2:hover, #menu_btn_3:hover {
    background-color: #ebe9ea;
    border: 1px solid #d5629e;
}

.menu-buttons {
    padding: 50px;
}

#orderOnline_btn {
    display: block;
    margin: 32px auto 70px auto;
    padding: 8px 19px 8px 19px;
    background-color: #EF5DA8;
    border: 1px solid #FFF;
    border-radius: 7px;
    color:#FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#orderOnline_btn:hover {
    background-color: #ce5192;
    border: 1px solid #FFF;
}


footer {
    clear: both; /* The clear property specifies which side(s) of an element other floating elements are not allowed. */
    text-align: center;
    font-size: 14px;
    color: #FFF;
    background-color:#251A03 ;
    border-top: 1px dotted #cccccc;
    padding: 20px;
    padding-bottom: 2%;
    font-variant: small-caps;
}